[submodule "3rdparty/bioparser"]
	path = 3rdparty/bioparser
	url = https://github.com/rvaser/bioparser.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
