*.fasta.gz filter=lfs diff=lfs merge=lfs -text
*.fasta filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
*.gfa filter=lfs diff=lfs merge=lfs -text
*.paf filter=lfs diff=lfs merge=lfs -text
